@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --buttonfade: linear-gradient(-200deg, #C407FD 11%, #9607FD 31%, #6107FD 47%, #0720FD 100%);
  --vfade: linear-gradient(88deg, #C407FD 41%, #9607FD 61%, #6107FD 77%, #0720FD 100%);
  --btnCompFade: linear-gradient(170deg, rgba(196, 7, 253, 0.5) 41%, rgba(150, 7, 253, 0.5) 61%, rgba(97, 7, 253, 0.5) 77%, rgba(7, 32, 253, 0.5) 100%);
  --cardFade: linear-gradient(170deg, rgba(196, 7, 253, 0.7) 41%, rgba(150, 7, 253, 0.7) 61%, rgba(97, 7, 253, 0.7) 77%, rgba(7, 32, 253, 0.7) 100%);
  --cardHover: linear-gradient(170deg, rgba(196, 7, 253) 41%, rgba(150, 7, 253) 61%, rgba(97, 7, 253) 77%, rgba(7, 32, 253) 100%);
  --hfade: linear-gradient(358deg, #C407FD 41%, #9607FD 61%, #6107FD 77%, #0720FD 100%);
  --color: #FFFFFF;
  --bg: linear-gradient(180deg, #0F1216 20%, #14181E 39%, #1F242D 50%, #444850);
}

.Leftcorner {
  display: block !important;
  position: fixed;
  left: 70px;
  top: 50px;
  z-index: 1;
  background-attachment: fixed;
}

.RightCorner {
  display: block !important;
  position: fixed;
  right: 70px;
  bottom: 50px;
  z-index: 1;
  background-attachment: fixed;
}

button {
  background: none;
  border: none;
  height: 3.5vh;
  width: 1.9vw;
}

#backButton {
  display: block !important;
  position: fixed;
  left: 70px;
  bottom: 30px;
  height: 4.5vh;
  width: 2.8vw;
  transition: all 600ms;
}

#backButton:hover {
  transform: scale(1.2);
}

body {
  display: flex;
  overflow: hidden;
  background: var(--bg) no-repeat fixed;
}

h1 {
  margin: auto;
  color: var(--color);
  font-family: "Poppins";
}

#navTitle {
  padding-left: 0.5vw;
  font-size: 2em;
  margin-bottom: 1vh;

}

.containerCard>button {
  font-weight: 700;
  font-family: "Poppins";
  color: var(--color);
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
  font-size: 1.25em;
  border-radius: 20px;
  background: var(--cardFade);
  align-items: center;
  width: 190px;
  height: 33px;
}

.containerCard>button:hover {
  background: var(--cardHover);
}

.containerCard {
  margin-left: 9.4vw;
  display: grid;
  position: fixed;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 17px;
  grid-row-gap: 12px;
}

.realiser {
  grid-area: 1 / 1 / 2 / 2;
}

.gerer {
  grid-area: 1 / 2 / 2 / 3;
}

.optimiser {
  grid-area: 2 / 1 / 3 / 2;
}

.conduire {
  grid-area: 2 / 2 / 3 / 3;
}

.administrer {
  grid-area: 3 / 1 / 4 / 2;
}

.collaborer {
  grid-area: 3 / 2 / 4 / 3;
}

.technologique {
  grid-area: 4 / 1 / 5 / 3;
  justify-self: center;
}


#competenceTitle {
  padding-left: 1.3vw;
  padding-bottom: 1.5vh;
  font-size: 2.6em;
}

.competenceContainer {
  display: flex;
}

.vline {
  height: 10.4em;
  width: 0.3em;
  background: var(--vfade);
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
}

@keyframes slideEffect {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

main {
  width: 60vw;
  height: 30vh;
  margin: 35vh 0 0 20vw;
  position: fixed;
  justify-content: space-between;
  display: flex;
  opacity: 0;
  animation: slideEffect 200ms ease-in-out 200ms forwards;
}

a {
  font-weight: 700;
  font-size: 1em;
  text-decoration: none;
  color: var(--color);
  font-family: "Poppins";

}

.container {
  background-repeat: no-repeat;
  background-image: url(../src/svg/LittleLeftCorner.svg);
  padding-left: 35px;
  padding-top: 35px;
  height: 145px;
  width: 145px;
  z-index: 1;
}

.competences,
.project {
  margin-bottom: 0.75em;
}

.competences>.hline {
  width: 7.3em;
  height: 0.3em;
  background: var(--hfade);
  clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0 100%);
}

.project>.hline {
  width: 4.2em;
  height: 0.3em;
  background: var(--hfade);
  clip-path: polygon(9% 0, 100% 0%, 91% 100%, 0 100%);
}

.iconContainer {
  display: flex;
  width: 57px;
  justify-content: space-between;
  align-items: center;
}

#emailIcon,
#logogit {
  transition: all 600ms;
}

#emailIcon:hover {
  transform: translateY(-0.5vh);
  transition: 600ms;
}

#logogit:hover {
  transform: translateY(-0.5vh);
  transition: 600ms;
}

#project {
  transition: all 300ms;
}

#project:hover {
  transition: 300ms;
  text-shadow: 1px 1px 1px white;
}

#competences {
  opacity: .20;
}

.buttonContainer {
  margin-top: 3vh;
  margin-left: 20vw;
  width: 7.6vw;
  display: flex;
  justify-content: space-between;
}

.realiserCard {
  backdrop-filter: blur(12px);
  background: var(--cardFade);
  position: absolute;
  z-index: 1;
  margin-left: 30.3vw;
  margin-top: 28vh;
  border-radius: 20px;
  width: 369px;
  height: 380px;

}

@keyframes zoom {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dezoom {
  0% {
    transform: scale(1)
  }

  100% {
    transform: scale(0);
  }
}

.zoom-in {
  animation: zoom 200ms ease forwards;
}

.zoom-out {
  animation: dezoom 200ms ease forwards;
}

.texteRealiser {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  color: var(--color);
  font-family: 'Poppins';
  font-weight: 700;
  width: 305px;
  height: 265px;
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.texteRealiser>ul {
  font-size: 0.75em;
  padding-left: 20px;
  margin: 0;
}

.texteRealiser>p {
  font-size: 0.8em;
  max-width: 305px;
  padding: 0;
  margin: 0;
}

.realiserCard>h1 {
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 10px;

}

#retour {
  position: absolute;
  bottom: 0;
  right: 10px;
  transition: all 300ms;
}

#retour:hover {
  transform: scale(1.1);
}

.optimiserCard {
  backdrop-filter: blur(12px);
  background: var(--cardFade);
  position: absolute;
  z-index: 1;
  margin-left: 30.3vw;
  margin-top: 22vh;
  border-radius: 20px;
  width: 369px;
  height: 470px;
}

.texteOptimiser {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  color: var(--color);
  font-family: 'Poppins';
  font-weight: 700;
  width: 305px;
  height: 358px;
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.texteOptimiser>ul {
  font-size: 0.75em;
  padding-left: 20px;
  margin: 0;
}

.texteOptimiser>p {
  font-size: 0.8em;
  max-width: 305px;
  padding: 0;
  margin: 0;
}

.optimiserCard>h1 {
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 10px;

}

.administrerCard {
  backdrop-filter: blur(12px);
  background: var(--cardFade);
  position: absolute;
  z-index: 1;
  margin-left: 30.3vw;
  margin-top: 24vh;
  border-radius: 20px;
  width: 369px;
  height: 435px;
}

.texteAdministrer {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  color: var(--color);
  font-family: 'Poppins';
  font-weight: 700;
  width: 305px;
  height: 325px;
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.texteAdministrer>ul {
  font-size: 0.75em;
  padding-left: 20px;
  margin: 0;
}

.texteAdministrer>p {
  font-size: 0.8em;
  max-width: 305px;
  padding: 0;
  margin: 0;
}

.administrerCard>h1 {
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 10px;

}

.gererCard {
  backdrop-filter: blur(12px);
  background: var(--cardFade);
  position: absolute;
  z-index: 1;
  margin-left: 30.3vw;
  margin-top: 20vh;
  border-radius: 20px;
  width: 369px;
  height: 505px;
}

.texteGerer {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  color: var(--color);
  font-family: 'Poppins';
  font-weight: 700;
  width: 305px;
  height: 395px;
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.texteGerer>ul {
  font-size: 0.75em;
  padding-left: 20px;
  margin: 0;
}

.texteGerer>p {
  font-size: 0.8em;
  max-width: 305px;
  padding: 0;
  margin: 0;
}

.gererCard>h1 {
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 10px;

}

.conduireCard {
  backdrop-filter: blur(12px);
  background: var(--cardFade);
  position: absolute;
  z-index: 1;
  margin-left: 30.3vw;
  margin-top: 22vh;
  border-radius: 20px;
  width: 369px;
  height: 450px;
}

.texteConduire {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  color: var(--color);
  font-family: 'Poppins';
  font-weight: 700;
  width: 305px;
  height: 340px;
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.texteConduire>ul {
  font-size: 0.75em;
  padding-left: 20px;
  margin: 0;
}

.texteConduire>p {
  font-size: 0.8em;
  max-width: 305px;
  padding: 0;
  margin: 0;
}

.conduireCard>h1 {
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 10px;
}

.collaborerCard {
  backdrop-filter: blur(12px);
  background: var(--cardFade);
  position: absolute;
  z-index: 1;
  margin-left: 30.3vw;
  margin-top: 24vh;
  border-radius: 20px;
  width: 369px;
  height: 435px;
}

.texteCollaborer {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  color: var(--color);
  font-family: 'Poppins';
  font-weight: 700;
  width: 305px;
  height: 320px;
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.texteCollaborer>ul {
  font-size: 0.75em;
  padding-left: 20px;
  margin: 0;
}

.texteCollaborer>p {
  font-size: 0.8em;
  max-width: 305px;
  padding: 0;
  margin: 0;
}

.collaborerCard>h1 {
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 10px;

}
.technologiesCard {
  backdrop-filter: blur(12px);
  background: var(--cardFade);
  position: absolute;
  z-index: 1;
  margin-left: 28vw;
  margin-top: 22vh;
  border-radius: 20px;
  width: 459px;
  height: 455px;
}

.technologiesContainer {
  display: flex;
  flex-direction: column;
  color: var(--color);
  font-family: 'Poppins';
  font-weight: 700;
  width: 305px;
  height: 320px;
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

h2 {
  margin-left: 40px;
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.technologiesCard>h1 {
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 10px;
}

.logoContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1, 1fr;
  margin-left: 53px;
  justify-items: center;
  align-items: center;
  text-align: center;
  grid-column-gap: 10px;
  width: 350px;
  height: 100px;
}

#html {
  grid-area: 1 / 1 / 2 / 2;
}

#css {
  grid-area: 1 / 2 / 2 / 3;
}

#php {
  grid-area: 1 / 3 / 2 / 4;
}

#javascript {
  grid-area: 1 / 4 / 2 / 5;
}

#java {
  grid-area: 1 / 5 / 2 / 6;
}

#htmlTexte {
  grid-area: 2 / 1 / 3 / 2;
}

#cssTexte {
  grid-area: 2 / 2 / 3 / 3;
}

#phpTexte {
  grid-area: 2 / 3 / 3 / 4;
}

#javascriptTexte {
  grid-area: 2 / 4 / 3 / 5;
}

#vueJSTexte {
  grid-area: 2 / 5 / 3 / 6;
}

.logicielsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1, 1fr;
  align-items: center;
  margin-left: 53px;
  justify-items: center;
  text-align: center;
  grid-column-gap: 10px;
  width: 350px;
  height: 100px;
}

#figma {
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
}

#illustrator {
  grid-area: 1 / 2 / 2 / 3;
}

#indesign {
  grid-area: 1 / 3 / 2 / 4;
}

#vscode {
  grid-area: 1 / 4 / 2 / 5;
}
#figmaTexte {
  grid-area: 2 / 1 / 3 / 2;
}

#illustratorTexte {
  grid-area: 2 / 2 / 3 / 3;
}

#indesignTexte {
  grid-area: 2 / 3 / 3 / 4;
}
#vscodeTexte {
  grid-area: 2 / 4 / 3 / 5;
}
