@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --buttonfade: linear-gradient(-200deg, #C407FD 11%, #9607FD 31%, #6107FD 47%, #0720FD 100%);
  --vfade: linear-gradient(88deg, #C407FD 41%, #9607FD 61%, #6107FD 77%, #0720FD 100%);
  --hfade: linear-gradient(358deg, #C407FD 41%, #9607FD 61%, #6107FD 77%, #0720FD 100%);
  --cardFade: linear-gradient(170deg, rgba(196, 7, 253, 0.7) 41%, rgba(150, 7, 253, 0.7) 61%, rgba(97, 7, 253, 0.7) 77%, rgba(7, 32, 253, 0.7) 100%);
  --detailsCardFade: linear-gradient(170deg, rgba(196, 7, 253, 0.5) 41%, rgba(150, 7, 253, 0.5) 61%, rgba(97, 7, 253, 0.5) 77%, rgba(7, 32, 253, 0.5) 100%);
  --color: #FFFFFF;
  --bg: linear-gradient(180deg, #0F1216 20%, #14181E 39%, #1F242D 50%, #444850);
}

.Leftcorner {
  display: block !important;
  position: fixed;
  left: 70px;
  top: 50px;
  z-index: 1;
  background-attachment: fixed;
}

.RightCorner {
  display: block !important;
  position: fixed;
  right: 70px;
  bottom: 50px;
  z-index: 1;
  background-attachment: fixed;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

#backButton {
  display: block !important;
  position: fixed;
  left: 70px;
  bottom: 30px;
  height: 4.5vh;
  width: 2.8vw;
  transition: all 600ms;
}

#backButton:hover {
  transform: scale(1.2);
}

body {
  display: flex;
  overflow: hidden;
  background: var(--bg) no-repeat fixed;
}

h1 {
  margin: auto;
  color: var(--color);
  font-family: "Poppins";
}

#navTitle {
  padding-left: 0.5vw;
  font-size: 2em;
  margin-bottom: 1vh;

}

#projectTitle {
  padding-left: 1.3vw;
  padding-bottom: 1.5vh;
  font-size: 2.6em;
}

p {
  padding-left: 1vw;
  padding-top: 1vh;
  width: 40vw;
  font-size: 0.9em;
  text-align: justify;
  font-weight: 600;
  margin: 0;
  color: var(--color);
  font-family: "Poppins";
}

.vline {
  height: 10em;
  width: 0.3em;
  background: var(--vfade);
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
}

@keyframes slide {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

main {
  width: 60vw;
  height: 30vh;
  margin: 35vh 0 0 20vw;
  justify-content: space-between;
  display: flex;
  opacity: 0;
  animation: slide 200ms ease-in-out 200ms forwards;
}

a {
  font-weight: 700;
  font-size: 1em;
  text-decoration: none;
  color: var(--color);
  font-family: "Poppins";

}

.container {
  background-repeat: no-repeat;
  background-image: url(../src/svg/LittleLeftCorner.svg);
  padding-left: 35px;
  padding-top: 35px;
  height: 145px;
  width: 145px;
  z-index: 1;
}

.projectContainer {
  display: flex;
  width: 40vw;
}

.itemProjet {
  margin-left: 10%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.competences,
.project {
  margin-bottom: 0.75em;
}

.competences>.hline {
  width: 7.3em;
  height: 0.3em;
  background: var(--hfade);
  clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0 100%);
}

.project>.hline {
  width: 4.2em;
  height: 0.3em;
  background: var(--hfade);
  clip-path: polygon(9% 0, 100% 0%, 91% 100%, 0 100%);
}

.iconContainer {
  display: flex;
  width: 57px;
  justify-content: space-between;
  align-items: center;
}

#emailIcon,
#logogit {
  transition: all 600ms;
}

#emailIcon:hover {
  transform: translateY(-0.5vh);
  transition: 600ms;
}

#logogit:hover {
  transform: translateY(-0.5vh);
  transition: 600ms;
}

#competences {
  transition: all 300ms;
}

#competences:hover {
  transition: 300ms;
  text-shadow: 1px 1px 1px white;
}

#project {
  opacity: .20;
}

#prev {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../src/svg/LeftArrow.svg)
}

#next {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../src/svg/RightArrow.svg)
}

.slide {
  background: var(--cardFade);
  width: 190px;
  height: 150px;
  backdrop-filter: blur(12px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 1s ease;
  /* Ajoutez une transition */
}

.caroussel:hover {
  transition: 500ms;
  transform: scale(1.1);
}

.slide>img {
  margin-top: 10px;
}

.slide>h2 {
  font-size: 1.25em;
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
  color: var(--color);
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
}

.caroussel {
  width: 190px;
  height: 150px;
  overflow-x: hidden;
  transition: all 500ms;

}

.carrouselItems {
  transition: transform 0.5s ease;
  position: relative;
  display: flex;
}

.indicateursContainer {
  margin-left: 10%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicateur {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.5s ease;
}

.indicateur.active {
  background: var(--buttonfade);
}

.detailsCardCrous, .detailsCardPendu, .detailsCardDecision, .detailsCardHistoire {
  width: 520px;
  height: 450px;
  background: var(--detailsCardFade);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  backdrop-filter: blur(12px);
  margin-left: 25vw;
  margin-top: 22vh;
}
.detailsCardPendu{
  width: 520px;
  height: 470px;
}
.detailsCardDecision{
  width: 520px;
  height: 470px;
}
.imageCard {
  margin-top: 24px;
  border-radius: 20px;
  width: 279px;
  height: 144px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}
#crousImage{
  background-image: url(../src/svg/crousBab.svg);
}
#penduImage{
  background-image: url(../src/svg/penduImage.svg);
}
#decisionImage{
  background-image: url(../src/svg/decisionImage.svg);
}
#histoireImage{
  background-image: url(../src/svg/histoireImage.svg);
}
.title>h1 {
  font-size: 1.25em;
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);

}

.overlay {
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
  color: var(--color);
  font-family: 'Poppins';
  position: absolute;
  width: 279px;
  height: 144px;
  text-align: center;
  line-height: 144px;
  opacity: 0;
  position: absolute;
  border-radius:20px ;
  cursor: pointer;

}
.overlay:hover{
  backdrop-filter: blur(2px); /* Applique un flou de 2 pixels à l'image lors du survol */
}
.imageCard:hover .overlay {
  opacity: 1; /* Opacité de l'élément .overlay à 1 lors du survol */
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px
}

.description {
  display: flex;
  max-width: 500px;
  gap: 10px;
  margin-left: 8px;

}

h2 {
  color: var(--color);
  font-weight: 700;
  font-family: "Poppins";
  font-size: 1em;
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);

}

.description>p {
  color: var(--color);
  text-align: justify;
  font-size: 0.8em;
}

.technologies {
  padding-top: 30px;
  margin-left: 8px;
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

#retour {
  position: absolute;
  bottom: 0;
  right: 10px;
  cursor: pointer;
  transition: all 300ms;
}

#retour:hover {
  transform: scale(1.1);
}

.zoom-in {
  animation: zoom 200ms ease forwards;
}

.zoom-out {
  animation: dezoom 200ms ease forwards;
}

@keyframes zoom {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dezoom {
  0% {
    transform: scale(1)
  }

  100% {
    transform: scale(0);
  }
}